.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-item {
  background-color: blue;
  padding: 2px, 2px, 2px, 2px;
  margin: 2px,
  2px,
  2px,
  2px;
  border: grey 2px dotted;
  border-block-color: grey;
}

.todo-item:hover {
  background-color: blue;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.todo-item-enter {
  opacity: 0.01;
  -webkit-transition: background-color 2s ease-in;
  -moz-transition: background-color 2s ease-in;
  -o-transition: background-color 2s ease-in;
  transition: background-color 2s ease-in;
}

.todo-item-enter.todo-item-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.todo-item-leave {
  opacity: 1;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.todo-item-leave.todo-item-leave-active {
  opacity: 0.01;
  transition: 700ms;
}

.todo-item-appear {
  opacity: 0.01;
}

.todo-item-appear.todo-item-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}